.jumbotron {
	background-color: black;
	color:white;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: black;
	margin-bottom: 0px; 
	margin-top: 10px;
	color:white;
	clear:both;
}
.card-presentacion {
	flex:1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	border: 5px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
	padding-right: 10px; 
}
.cartas{
	padding-top: 50px; 
}
#link-footer{
	color:white;
}
#redsocial{
	padding-left: -20px;
}
#mapa{
	padding-right: -10px;
}
#titulo{
  box-shadow: -.5px -.5px 0 .5px #ccc, inset -1px -1px 0 0 #ccc;
  box-shadow: 0 0 0 10px black;
  margin: 2em;
  padding:1em;
  right: +13px;
}
#contenidoizq{
border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;

}
#contenidoizq:hover{
box-shadow:1px 1px 15px #000;
}
.card-header-third{

    margin-top:-4px;
    height: 120px;
	box-shadow:1px 5px 18px #a2a2a2;
    background: linear-gradient(-90deg, #11998e, #38ef7d); 
}

.card-section-third span i{
	padding:17px;
	margin:0px 10px;
	color:#fff;
	height:50px;
	width:50px;
	box-shadow:1px 6px 24px #d2d2d2;
	background: linear-gradient(-90deg, #11998e, #38ef7d); 
}
.card-header-third span i:hover,.card-section-third span i:hover{
	box-shadow:1px 1px 15px #000;
}
.card-section{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-section:hover{
	box-shadow:1px 1px 20px #d2d2d2;
}
#titulofalso{
  box-shadow: -.5px -.5px 0 .5px #ccc, inset -1px -1px 0 0 #ccc;
  box-shadow: 0 0 0 0px black;
  margin: 1em;
  padding:1em;
  right: +13px;
}
.boton-subir{
  display: none;
  background: #0064FF;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 999999999;
}
/*evento hover*/
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
.snippet .hljs {
  background-color: #262720;
  color: #fff;
}
.snippet .hljs .hljs-keyword {
  color: #00d6ff;
}
.snippet .hljs .hljs-string {
  color: #fff8ab
}